@import "tailwindcss";

@layer utilities {
  @keyframes show-results {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-show-results {
    animation: show-results 0.6s ease-out forwards;
  }
}

@theme {
  --animate-progress: progress 5s linear forwards;
  @keyframes progress {
    100% {
      width: 0%;
    }
  }
}
